<!DOCTYPE html>
<html lang="en">

<head>
  <!-- meta -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Kartik Iyyer</title>
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../static/lib/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="../static/lib/hover/hover.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../static/css/style.css" rel="stylesheet">

  <!-- Responsive css -->
  <link href="../static/css/responsive.css" rel="stylesheet">

  <!-- Favicon -->
  <link rel="shortcut icon" href="../static/images/favicon.png">

  <!-- =======================================================
    Theme Name: Folio
    Theme URL: https://bootstrapmade.com/folio-bootstrap-portfolio-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body>

  <!-- start section navbar -->
  <nav id="main-nav">
    <div class="row">
      <div class="container">

        <div class="logo">
          <a href="index.html"><img src="../static/images/logo.png" alt="logo"></a>
        </div>

        <div class="responsive"><i data-icon="m" class="ion-navicon-round"></i></div>

        <ul class="nav-menu list-unstyled">
          <li><a href="#header" class="smoothScroll">Home</a></li>
          <li><a href="#about" class="smoothScroll">About</a></li>
          <li><a href="#services" class="smoothScroll">Achievements</a></li>
          <li><a href="#portfolio" class="smoothScroll">Skills</a></li>
          <li><a href="#journal" class="smoothScroll">Projects</a></li>
          <li><a href="#contact" class="smoothScroll">Contact</a></li>
        </ul>

      </div>
    </div>
  </nav>
  <!-- End section navbar -->


  <!-- start section header -->
  <div id="header" class="home">

    <div class="container">
      <div class="header-content">
        <h1>I'm <span class="typed"></span></h1>
        <p>software engineer, developer, team player</p>

        <ul class="list-unstyled list-social">
          <li><a href="https://www.linkedin.com/in/kartikiyyer" target="_blank"><i class="ion-social-linkedin"></i></a></li>
          <li><a href="https://github.com/kartikiyyer" target="_blank"><i class="ion-social-github"></i></a></li>
          <li><a href="https://www.facebook.com/kartik.iyyer" target="_blank"><i class="ion-social-facebook"></i></a></li>
          <!--li><a href="#"><i class="ion-social-twitter"></i></a></li>
          <li><a href="#"><i class="ion-social-instagram"></i></a></li>
          <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
          <li><a href="#"><i class="ion-social-tumblr"></i></a></li>
          <li><a href="#"><i class="ion-social-dribbble"></i></a></li-->
        </ul>
      </div>
    </div>
  </div>
  <!-- End section header -->


  <!-- start section about us -->
  <div id="about" class="paddsection">
    <div class="container">
      <div class="row justify-content-between">

        <div class="col-lg-4 ">
          <div class="div-img-bg">
            <div class="about-img">
              <img src="../static/images/me.jpg" class="img-responsive" alt="me">
            </div>
          </div>
        </div>

        <div class="col-lg-7">
          <div class="about-descr">

            <p class="p-heading">I am a Kartik Iyyer, Software Engineer, Backend Developer, who loves to build projects especially from scratch. I also enjoy learning new technologies that expand my horizon. Every project has to be perfect but bugs exists and I like fixing those.</p>
            <p class="separator">Customers are my main focus. Requirements gathering, communicating, documenting the design is a must.</p>
            <p class="separator">I did my Master's in Software Engineering from San Jose State University and Bachelor's from a foreign university.</p>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- end section about us -->


  <!-- start section services -->
  <div id="services">
    <div class="container">

        <div class="services-carousel owl-theme">

          <div class="services-block">

            <i class="ion-ios-bookmarks-outline"></i>
            <span>Java Certification</span>
            <p class="separator">Oracle Certified Java Programmer (Java 6)</p>

          </div>

          <div class="services-block">

            <i class="ion-ios-lightbulb-outline"></i>
            <span>Contest Winner</span>
            <p class="separator">Winner of Juniper Networks Innovation Contest – Spark Streaming Plugin for High Frequency Monitoring</p>

          </div>

        </div>

    </div>

  </div>
  <!-- end section services -->


  <!-- start section portfolio -->
  <div id="portfolio" class="text-center paddsection">

    <div class="container">
      <div class="section-title text-center">
        <h2>My Skills</h2>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <div class="portfolio-list">

            <ul class="nav list-unstyled" id="portfolio-flters">
              <li class="filter filter-active" data-filter=".all">all</li>
              <li class="filter" data-filter=".languages">programming languages</li>
              <li class="filter" data-filter=".platforms">platforms</li>
              <li class="filter" data-filter=".databases">databases</li>
              <li class="filter" data-filter=".frameworks">frameworks</li>
              <li class="filter" data-filter=".ides">ides</li>
              <li class="filter" data-filter=".tools">tools</li>
              <li class="filter" data-filter=".browsers">browsers</li>
              <li class="filter" data-filter=".servers">servers</li>
            </ul>

          </div>

          <div class="portfolio-container">

            <div class="col-lg-2 col-md-6 portfolio-thumbnail all languages">
              <a class="popup-img" href="../static/images/portfolio/java.jpg">
                <img src="../static/images/portfolio/java.jpg" alt="img">
              </a>
            </div>

            <div class="col-lg-2 col-md-6 portfolio-thumbnail all databases">
              <a class="popup-img" href="../static/images/portfolio/mysql.jpg">
                <img src="../static/images/portfolio/mysql.jpg"  alt="img">
              </a>
            </div>

            <div class="col-lg-2 col-md-6 portfolio-thumbnail all languages">
              <a class="popup-img" href="../static/images/portfolio/html.jpg">
                <img src="../static/images/portfolio/html.jpg" alt="img">
              </a>
            </div>

            <div class="col-lg-2 col-md-6 portfolio-thumbnail all languages">
              <a class="popup-img" href="../static/images/portfolio/jquery.jpg">
                <img src="../static/images/portfolio/jquery.jpg" alt="img">
              </a>
            </div>

            <div class="col-lg-2 col-md-6 portfolio-thumbnail all languages">
              <a class="popup-img" href="../static/images/portfolio/php.jpg">
                <img src="../static/images/portfolio/PHP.jpg" alt="img">
              </a>
            </div>

            <div class="col-lg-2 col-md-6 portfolio-thumbnail all languages">
              <a class="popup-img" href="images/portfolio/css.jpg">
                <img src="../static/images/portfolio/css.jpg" alt="img">
              </a>
            </div>

            <div class="col-lg-2 col-md-6 portfolio-thumbnail all languages">
              <a class="popup-img" href="images/portfolio/python.jpeg">
                <img src="../static/images/portfolio/python.jpeg" alt="img">
              </a>
            </div>

            <div class="col-lg-2 col-md-6 portfolio-thumbnail all frameworks">
              <a class="popup-img" href="images/portfolio/drupal.jpg">
                <img src="../static/images/portfolio/drupal.jpg" alt="img">
              </a>
            </div>

            <div class="col-lg-2 col-md-6 portfolio-thumbnail all databases">
              <a class="popup-img" href="../static/../static/images/portfolio/pgsql.jpg">
                <img src="../static/images/portfolio/pgsql.jpg" alt="img">
              </a>
            </div>

            <div class="col-lg-2 col-md-6 portfolio-thumbnail all tools">
              <a class="popup-img" href="../static/images/portfolio/selenium.jpg">
                <img src="../static/images/portfolio/selenium.jpg" alt="img">
              </a>
            </div>

            <div class="col-lg-2 col-md-6 portfolio-thumbnail all languages">
              <a class="popup-img" href="../static/images/portfolio/android.png">
                <img src="../static/images/portfolio/android.png" alt="img">
              </a>
            </div>

            <div class="col-lg-2 col-md-6 portfolio-thumbnail all databases">
              <a class="popup-img" href="../static/images/portfolio/cassandra.png">
                <img src="../static/images/portfolio/cassandra.png" alt="img">
              </a>
            </div>

            <div class="col-lg-2 col-md-6 portfolio-thumbnail all ides">
              <a class="popup-img" href="../static/images/portfolio/eclipse.png">
                <img src="../static/images/portfolio/eclipse.png" alt="img">
              </a>
            </div>

            <div class="col-lg-2 col-md-6 portfolio-thumbnail all tools">
              <a class="popup-img" href="images/portfolio/git.png">
                <img src="../static/images/portfolio/git.png" alt="img">
              </a>
            </div>

            <div class="col-lg-2 col-md-6 portfolio-thumbnail all tools">
              <a class="popup-img" href="../static/images/portfolio/hibernate.png">
                <img src="../static/images/portfolio/hibernate.png" alt="img">
              </a>
            </div>

            <div class="col-lg-2 col-md-6 portfolio-thumbnail all tools">
              <a class="popup-img" href="../static/images/portfolio/jmeter.png">
                <img src="../static/images/portfolio/jmeter.png" alt="img">
              </a>
            </div>

            <div class="col-lg-2 col-md-6 portfolio-thumbnail all languages">
              <a class="popup-img" href="../static/images/portfolio/jsp.jpeg">
                <img src="../static/images/portfolio/jsp.jpeg" alt="img">
              </a>
            </div>

            <div class="col-lg-2 col-md-6 portfolio-thumbnail all frameworks">
              <a class="popup-img" href="../static/images/portfolio/junit.png">
                <img src="../static/images/portfolio/junit.png" alt="img">
              </a>
            </div>

            <div class="col-lg-2 col-md-6 portfolio-thumbnail all tools">
              <a class="popup-img" href="../static/images/portfolio/maven.png">
                <img src="../static/images/portfolio/maven.png" alt="img">
              </a>
            </div>

            <div class="col-lg-2 col-md-6 portfolio-thumbnail all databases">
              <a class="popup-img" href="../static/images/portfolio/mongodb.png">
                <img src="../static/images/portfolio/mongodb.png" alt="img">
              </a>
            </div>

            <div class="col-lg-2 col-md-6 portfolio-thumbnail all frameworks">
              <a class="popup-img" href="../static/images/portfolio/nodejs.png">
                <img src="../static/images/portfolio/nodejs.png" alt="img">
              </a>
            </div>

            <div class="col-lg-2 col-md-6 portfolio-thumbnail all tools">
              <a class="popup-img" href="../static/images/portfolio/perforce.jpeg">
                <img src="../static/images/portfolio/perforce.jpeg" alt="img">
              </a>
            </div>

            <div class="col-lg-2 col-md-6 portfolio-thumbnail all ides">
              <a class="popup-img" href="../static/images/portfolio/pycharm.jpeg">
                <img src="../static/images/portfolio/pycharm.jpeg" alt="img">
              </a>
            </div>

            <div class="col-lg-2 col-md-6 portfolio-thumbnail all tools">
              <a class="popup-img" href="../static/images/portfolio/raspberrypi.jpeg">
                <img src="../static/images/portfolio/raspberrypi.jpeg" alt="img">
              </a>
            </div>

            <div class="col-lg-2 col-md-6 portfolio-thumbnail all tools">
              <a class="popup-img" href="../static/images/portfolio/spark.png">
                <img src="../static/images/portfolio/spark.png" alt="img">
              </a>
            </div>

            <div class="col-lg-2 col-md-6 portfolio-thumbnail all tools">
              <a class="popup-img" href="../static/images/portfolio/rest.png">
                <img src="../static/images/portfolio/rest.png" alt="img">
              </a>
            </div>

            <div class="col-lg-2 col-md-6 portfolio-thumbnail all languages">
              <a class="popup-img" href="../static/images/portfolio/servlets.jpeg">
                <img src="../static/images/portfolio/servlets.jpeg" alt="img">
              </a>
            </div>

            <div class="col-lg-2 col-md-6 portfolio-thumbnail all frameworks">
              <a class="popup-img" href="../static/images/portfolio/spring.png">
                <img src="../static/images/portfolio/spring.png" alt="img">
              </a>
            </div>

            <div class="col-lg-2 col-md-6 portfolio-thumbnail all servers">
              <a class="popup-img" href="../static/images/portfolio/tomcat.jpeg">
                <img src="../static/images/portfolio/tomcat.jpeg" alt="img">
              </a>
            </div>

            <div class="col-lg-2 col-md-6 portfolio-thumbnail all platforms">
              <a class="popup-img" href="../static/images/portfolio/ubuntu.png">
                <img src="../static/images/portfolio/ubuntu.png" alt="img">
              </a>
            </div>

            <div class="col-lg-2 col-md-6 portfolio-thumbnail all platforms">
              <a class="popup-img" href="../static/images/portfolio/windows.png">
                <img src="../static/images/portfolio/windows.png" alt="img">
              </a>
            </div>

            <div class="col-lg-2 col-md-6 portfolio-thumbnail all languages">
              <a class="popup-img" href="../static/images/portfolio/xml.jpeg">
                <img src="../static/images/portfolio/xml.jpeg" alt="img">
              </a>
            </div>

            <div class="col-lg-2 col-md-6 portfolio-thumbnail all platforms">
              <a class="popup-img" href="../static/images/portfolio/centos.png">
                <img src="../static/images/portfolio/centos.png" alt="img">
              </a>
            </div>

            <div class="col-lg-2 col-md-6 portfolio-thumbnail all tools">
              <a class="popup-img" href="../static/images/portfolio/rpm.jpeg">
                <img src="../static/images/portfolio/rpm.jpeg" alt="img">
              </a>
            </div>

            <div class="col-lg-2 col-md-6 portfolio-thumbnail all tools">
              <a class="popup-img" href="../static/images/portfolio/postman.png">
                <img src="../static/images/portfolio/postman.png" alt="img">
              </a>
            </div>

            <div class="col-lg-2 col-md-6 portfolio-thumbnail all browsers">
              <a class="popup-img" href="../static/images/portfolio/firefox.jpeg">
                <img src="../static/images/portfolio/firefox.jpeg" alt="img">
              </a>
            </div>

            <div class="col-lg-2 col-md-6 portfolio-thumbnail all browsers">
              <a class="popup-img" href="../static/images/portfolio/chrome.jpeg">
                <img src="../static/images/portfolio/chrome.jpeg" alt="img">
              </a>
            </div>

            <div class="col-lg-2 col-md-6 portfolio-thumbnail all servers">
              <a class="popup-img" href="../static/images/portfolio/flask.png">
                <img src="../static/images/portfolio/flask.png" alt="img">
              </a>
            </div>

            <div class="col-lg-2 col-md-6 portfolio-thumbnail all servers">
              <a class="popup-img" href="../static/images/portfolio/tornado.jpeg">
                <img src="../static/images/portfolio/tornado.jpeg" alt="img">
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- End section portfolio -->


  <!-- start section journal -->
  <div id="journal" class="text-left paddsection">

    <div class="container">
      <div class="section-title text-center">
        <h2>projects</h2>
      </div>
    </div>

    <div class="container">
      <div class="journal-block">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="journal-info">

              <a href="project/policy-enforcer"><img src="images/blog-post-1.jpg" class="img-responsive" alt="img"></a>

              <div class="journal-txt">

                <h4><a href="/project/policy-enforcer">Policy Enforcer</a></h4>
                <p class="separator">This project's main goal is to orchestrate policies and distributes them to EX Series and QFX Series switches, as well as to Juniper virtual and physical SRX Series firewalls.
                </p>

              </div>

            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="journal-info">

              <a href="blog-single.html"><img src="images/blog-post-2.jpg" class="img-responsive" alt="img"></a>

              <div class="journal-txt">

                <h4><a href="blog-single.html">Data Subscription Service</a></h4>
                <p class="separator">DLE Data Subscription enables the external entities to subscribe the data published by DLE server.
                </p>

              </div>

            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="journal-info">

              <a href="blog-single.html"><img src="images/blog-post-3.jpg" class="img-responsive" alt="img"></a>

              <div class="journal-txt">

                <h4><a href="blog-single.html">LiveUpdate Administrator</a></h4>
                <p class="separator">LiveUpdate Administrator provides an ability to deploy a stand-alone internal LiveUpdate server.
                </p>

              </div>

            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="journal-info">

              <a href="blog-single.html"><img src="images/blog-post-3.jpg" class="img-responsive" alt="img"></a>

              <div class="journal-txt">

                <h4><a href="blog-single.html">Family Locator</a></h4>
                <p class="separator">Family Locator provides convenient and valuable service to help securely determine location of family members on device.
                </p>

              </div>

            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="journal-info">

              <a href="blog-single.html"><img src="images/blog-post-3.jpg" class="img-responsive" alt="img"></a>

              <div class="journal-txt">

                <h4><a href="blog-single.html">The Supplies Guys</a></h4>
                <p class="separator">Supplies Guys is a Retail Management System portal.
                </p>

              </div>

            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="journal-info">

              <a href="blog-single.html"><img src="images/blog-post-3.jpg" class="img-responsive" alt="img"></a>

              <div class="journal-txt">

                <h4><a href="blog-single.html">Cloud based Sensing as a Service</a></h4>
                <p class="separator">A cloud platform that provides users to connect their sensors, app developers and other users to leverage realtime streaming data from these sensors to build IoT apps and do research.
                </p>

              </div>

            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="journal-info">

              <a href="blog-single.html"><img src="images/blog-post-3.jpg" class="img-responsive" alt="img"></a>

              <div class="journal-txt">

                <h4><a href="blog-single.html">Spark Streaming Plugin for High Frequency Monitoring from Network Devices</a></h4>
                <p class="separator">Plugin to stream and analyze high frequency monitoring Big Data generated by network devices.
                </p>

              </div>

            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="journal-info">

              <a href="blog-single.html"><img src="images/blog-post-3.jpg" class="img-responsive" alt="img"></a>

              <div class="journal-txt">

                <h4><a href="blog-single.html">Circus Charlie</a></h4>
                <p class="separator">Re-implementation of famous video game using Kinect.
                </p>

              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
  <!-- End section journal -->


  <!-- start sectoion contact -->
  <div id="contact" class="paddsection">
    <div class="container">
      <div class="contact-block1">
        <div class="row">

          <div class="col-lg-6">
            <div class="contact-contact">

              <h2 class="mb-30">GET IN TOUCH</h2>

              <ul class="contact-details">
                <li><span>San Jose, California, United States</span></li>
                <li><span></span></li>
                <li><span>kar.siy@gmail.com</span></li>
              </ul>

            </div>
          </div>

          <div class="col-lg-6">
            <form action="" method="post" role="form" class="contactForm">
              <div class="row">

                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>

                <div class="col-lg-6">
                  <div class="form-group contact-block1">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validation"></div>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validation"></div>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                    <div class="validation"></div>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <textarea class="form-control" name="message" rows="12" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                    <div class="validation"></div>
                  </div>
                </div>

                <div class="col-lg-12">
                  <input type="submit" class="btn btn-defeault btn-send" value="Send message">
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- start sectoion contact -->


  <!-- start section footer -->
  <div id="footer" class="text-center">
    <div class="container">
      <div class="socials-media text-center">

        <ul class="list-unstyled">
          <li><a href="https://www.linkedin.com/in/kartikiyyer" target="_blank"><i class="ion-social-linkedin"></i></a></li>
          <li><a href="https://github.com/kartikiyyer" target="_blank"><i class="ion-social-github"></i></a></li>
          <li><a href="https://www.facebook.com/kartik.iyyer"><i class="ion-social-facebook"></i></a></li>
          <!--li><a href="#"><i class="ion-social-twitter"></i></a></li>
          <li><a href="#"><i class="ion-social-instagram"></i></a></li>
          <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
          <li><a href="#"><i class="ion-social-tumblr"></i></a></li>
          <li><a href="#"><i class="ion-social-dribbble"></i></a></li-->
        </ul>

      </div>

      <p>&copy; Copyrights Folio. All rights reserved.</p>

      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Folio
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>

    </div>
  </div>
  <!-- End section footer -->

  <!-- JavaScript Libraries -->
  <script src="../static/lib/jquery/jquery.min.js"></script>
  <script src="../static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/lib/typed/typed.js"></script>
  <script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../static/lib/magnific-popup/magnific-popup.min.js"></script>
  <script src="../static/lib/isotope/isotope.pkgd.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="../static/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../static/js/main.js"></script>

</body>

</html>
